/* Définition des polices personnalisées */

@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular-webfont.woff2") format("woff2"),
    url("Roboto-Regular-webfont.woff") format("woff"),
    url("Roboto-Regular-webfont.ttf") format("truetype"),
    url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Bold-webfont.woff2") format("woff2"),
    url("Roboto-Bold-webfont.woff") format("woff"),
    url("Roboto-Bold-webfont.ttf") format("truetype"),
    url("Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoblack";
  src: url("Roboto-Black-webfont.eot");
  src: url("Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Black-webfont.woff2") format("woff2"),
    url("Roboto-Black-webfont.woff") format("woff"),
    url("Roboto-Black-webfont.ttf") format("truetype"),
    url("Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotolight";
  src: url("Roboto-Light-webfont.eot");
  src: url("Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Light-webfont.woff2") format("woff2"),
    url("Roboto-Light-webfont.woff") format("woff"),
    url("Roboto-Light-webfont.ttf") format("truetype"),
    url("Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotomedium";
  src: url("Roboto-Medium-webfont.eot");
  src: url("Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Medium-webfont.woff2") format("woff2"),
    url("Roboto-Medium-webfont.woff") format("woff"),
    url("Roboto-Medium-webfont.ttf") format("truetype"),
    url("Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontawesome-webfont";
  src: url("font/fontawesome-webfont.eot");
  src: url("font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("font/fontawesome-webfont.woff") format("woff"),
    url("font/fontawesome-webfont.ttf") format("truetype"),
    url("font/fontawesome-webfont.svg#fontawesome-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "glyphicons-halflings-regular";
  src: url("font/glyphicons-halflings-regular.eot");
  src: url("font/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("font/glyphicons-halflings-regular.woff") format("woff"),
    url("font/glyphicons-halflings-regular.ttf") format("truetype"),
    url("font/glyphicons-halflings-regular.svg#glyphicons-halflings-regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Eléments principaux de la page */

* {
  margin: 0;
  padding: 0;
}

div.main-wrapper {
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: #fff;
  z-index: 100;
}

div.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.logo {
  padding-top: 22px;
  padding-left: 155px;
}

/* Navigation */

nav {
  font-family: "roboto", serif;
  color: #787878;
  padding-top: 14px;
  padding-right: 9.8%;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  width: 80.4px;
  text-align: center;
  border-top: 3px solid transparent;
}

nav a {
  text-decoration: none;
  font-size: 0.9em;
  color: #7d7d7d;
}

nav a:hover {
  border-top: 3px solid rgb(92, 173, 211);
  padding-top: 40px;
  color: #020202;
}

/* Bannière */

/* Ajouter les flèches de navigation sur la bannière */

div.banner {
  padding-top: 85px;
}

div.banner img {
  vertical-align: top;
  width: 100%;
}

div.banner_slogan {
  padding-left: 159px;
  margin-top: -23.5%;
  color: white;
  font-size: 1.2em;
  font-family: "roboto", serif;
}

h1 {
  font-family: "roboto", serif;
  text-transform: uppercase;
  line-height: 1em;
}

div.banner_slogan span {
  color: rgb(92, 173, 211);
}

div.banner_slogan p {
  margin-top: 13px;
  font-size: 77%;
}

div.banner p.bouton_bleu {
  margin-top: 25px;
  font-size: 1em;
}

p.bouton_bleu {
  position: absolute;
  background-color: rgb(92, 173, 211);
  border-radius: 3px;
  padding: 12px 15px 12px 15px;
}

p.bouton_bleu a {
  text-decoration: none;
  font-size: 1em;
  color: white;
}

p.bouton_bleu:hover {
  box-shadow: 0 4px 1px -1px rgb(68, 148, 187);
}

/* Services */

div.services-wrapper {
  margin-top: 300px;
  border: 1px solid blue;
}

/* Projets */

/* Contact */
