/* Définition des polices personnalisées */

@font-face {
  src: url("../font/Roboto-Regular-webfont.eot");
  src: url("../font/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../font/Roboto-Regular-webfont.woff") format("woff"),
    url("../font/Roboto-Regular-webfont.ttf") format("truetype"),
    url("../font/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("../font/Roboto-Black-webfont.eot");
  src: url("../font/Roboto-Black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../font/Roboto-Black-webfont.woff") format("woff"),
    url("../font/Roboto-Black-webfont.ttf") format("truetype"),
    url("../font/Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-family: "roboto-black";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("..//font/fontawesome-webfont.eot");
  src: url("..//font/fontawesome-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("..//font/fontawesome-webfont.woff") format("woff"),
    url("..//font/fontawesome-webfont.ttf") format("truetype"),
    url("..//font/fontawesome-webfont.svg#fontawesome-webfont") format("svg");
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
}

/* Définition des propriétés personnalisées */

/* :root {
  --color-fill: #5cadd3;
  --color-inactive: #e5e5e5;
  --color-shadow: #4494bb;
  --gray-text: #65696e;
} */

/* Eléments principaux de la page */

* {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  padding-top: 10px;
  font-family: "roboto-black", serif;
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-family: "roboto", serif;
  font-size: 1.2em;
}

a,
label {
  font-family: "roboto", serif;
}

p {
  padding: 10px 0;
  color: #65696e;
  font-family: "roboto", serif;
  font-size: 0.9vw;
}

strong {
  display: block;
  font-family: "roboto-black", serif;
  font-size: 0.7em;
  text-transform: uppercase;
}

::before,
::after {
  font-family: "fontawesome";
}

a.bouton_bleu {
  border: none;
  font-size: 1em;
}

a.bouton_bleu,
input.bouton_bleu {
  box-shadow: 0 4px 1px -1px #4494bb;
  border-radius: 3px;
  background-color: #5cadd3;
  padding: 11px 23px;
  color: white;
  text-decoration: none;
}

div.main-wrapper {
  margin: 0 auto;
  width: 100%;
}

header {
  position: fixed;
  opacity: 0.9;
  z-index: 100;
  background: white;
  width: 100%;
  height: 100px;
}

div.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.logo {
  padding-left: 10%;
}

div.logo img {
  width: 90%;
}

/* Navigation */

.nav_main {
  padding-right: 9%;
  color: #65696e;
}

.nav_main ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav_main li {
  border-top: 2px solid transparent;
  padding-top: 42px;
  width: 100px;
  text-align: center;
}

.nav_main li:hover {
  border-top: 2px solid #5cadd3;
}

.nav_main a {
  color: #65696e;
  font-size: 1.5vmin;
  text-decoration: none;
}

.nav_main a:hover {
  color: black;
}

/* Bannière */

div.banner {
  margin: 0 auto;
  width: auto;
}

div.banner_img img {
  padding-top: 100px;
  width: 100%;
}

div.banner_img {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* boutons gauche / droite slideshow */

i.fa-angle-left::before,
i.fa-angle-right::before {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 25px;
}

i.fa-angle-left::before {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 25px 20px 25px 5px;
}

i.fa-angle-right::before {
  right: 0;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  padding: 25px 5px 25px 20px;
}

div.banner_slogan {
  position: absolute;
  margin-top: -23.5%;
  padding-left: 130px;
  color: white;
  font-size: 1.2vw;
  letter-spacing: 0.1em;
}

div.banner_slogan span.blue {
  color: #5cadd3;
}

div.banner_slogan p {
  color: white;
  font-size: 1.2vw;
  letter-spacing: 0;
  margin-bottom: 20px;
}

div.banner_img span.load-blue {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 5px solid #5cadd3;
  width: 10%;
  z-index: 10;
}

div.banner_img span.load-dark {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* Services */

div.services {
  margin: 0 auto;
  padding-top: 15%;
  width: 50%;
  text-align: center;
}

div.services h3 {
  margin-bottom: 20px;
}

div.services p {
  margin-top: 10px;
}

hr {
  margin: 0 auto;
  width: 120px;
}

hr::before {
  position: absolute;
  margin: -10px;
  border: 3px solid white;
  border-radius: 100%;
  background: #5cadd3;
  width: 14px;
  height: 14px;
  content: "";
}

div.foot_block {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

div.imac,
div.services_list {
  padding-right: 5%;
  width: 50%;
}

div.imac img {
  margin-left: 35%;
  width: 70%;
}

div.services_list {
  padding-top: 6%;
  line-height: 1em;
}

div.services_list ul {
  padding-left: 120px;
  line-height: 1em;
  list-style: none;
}

li {
  padding-bottom: 40px;
}

li.chart:before {
  content: "\f201";
}

li.cubes:before {
  content: "\f1b3";
}

li.pie:before {
  content: "\f200";
}

li:before {
  float: left;
  margin-left: -2.5em;
  border: 1px solid gray;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  color: #5cadd3;
  font-size: 32px;
  line-height: 2em;
  text-align: center;
}

i {
  float: left;
  margin-top: 1.9em;
  margin-left: -1.6em;
  color: #5cadd3;
  font-size: 14px;
}

/* Projets */

section.portfolio-wrapper {
  background-color: #f5f5f5;
  padding-bottom: 10%;
}

div.portfolio {
  margin: 0 auto;
  width: 50%;
  height: 140px;
  text-align: center;
  padding-top: 15%;
}

div.services h3, .portfolio h3 {
  margin-bottom: 20px;
  padding-top: 10px;
  font-family: "roboto-black", serif;
  font-size: 3em;
  color: black;
  text-transform: uppercase;
}

div.portfolio p {
  margin-top: 10px;
}

.nav_projets {
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  width: 400px;
  color: #787878;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 0px 0px rgb(229, 229, 229);
  border-radius: 5px;
  background-color: rgb(229, 229, 229);
}

.btn-filter + label {
  display: block;
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
}

input.border-left + label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input.border-right + label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

label {
  padding: 12px 20.8px;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
}

label:hover,
input[type="radio"]:checked + label {
  box-shadow: 0px 3px 0px 0px #4494bb;
  background-color: #5cadd3;
  color: white;
}

label:hover::after,
input[type="radio"]:checked + label::after {
  position: absolute;
  margin: 23px 0 0 -40%;
  color: #4494bb;
  font-size: 22px;
  content: "\f0d7";
}

div.works {
  grid-column-gap: 2%;
  grid-row-gap: 5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 90%;
}

figure {
  position: relative;
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  display: table-caption;
  position: absolute;
  visibility: hidden;
  margin-top: -70px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 70px;
  line-height: 0.8em;
  text-align: left;
}

figcaption h1,
h3 {
  display: inline-block;
  padding: 15px 0 0 15px;
  color: white;
  font-size: 1.2em;
  line-height: 0.9;
  text-transform: capitalize;
}

figcaption p {
  display: inline-block;
  padding-left: 15px;
  color: white;
}

figcaption::before {
  vertical-align: bottom;
  float: right;
  margin-top: -25px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #5cadd3;
  padding: 10px;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 1.1vw;
  line-height: 25px;
  text-align: center;
  content: "\f06e";
}

figure:hover figcaption {
  visibility: visible;
}

/* Contact */

div.google-wrapper {
  position: relative;
  z-index: 80;
  width: 100%;
  height: 630px;
}

iframe {
  width: 100%;
  height: 750px;
  border: 0;
}

div.google-map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  background: rgb(92, 173, 211);
  width: 100%;
  height: 750px;
  pointer-events: none;
}

div.form-wrapper {
  position: absolute;
  right: 0;
  z-index: 90;
  margin-top: -580px;
  margin-right: 150px;
  background: rgba(255, 255, 255, 0.6);
  width: 360px;
  height: 525px;
}

form h3,
form p {
  padding: 15px 0 0 15px;
  line-height: 1.5em;
  text-transform: capitalize;
}

.web-sas {
  font-family: "roboto-black", serif;
}

form h3 {
  font-size: 1.4em;
  color: black
}

form p {
  font-size: 0.8em;
}

::placeholder {
  color: rgb(160, 160, 160);
  font-weight: 500;
}

input[type="text"],
input[type="email"],
textarea {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding-left: 12px;
  width: 93%;
  height: 2.3em;
  font-size: 1.1em;
}

textarea {
  padding-top: 10px;
  height: 10em;
  font-family: "roboto", serif;
}

input.bouton_bleu {
  position: absolute;
  margin: 15px;
}

/* Version Responsive */

/* Version mobile */

@media screen and (max-width: 480px) {
  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    padding: 10px 0;
    font-size: 3.7vw;
    text-align: justify;
  }

  strong {
    display: block;
    font-size: 4vw;
    text-transform: uppercase;
  }

  header {
    width: 100%;
    height: 170px;
  }

  div.header-wrapper {
    flex-direction: column;
  }

  div.logo {
    padding: 0;
  }

  .nav_main {
    padding: 0;
  }

  div.logo img {
    margin: 0 auto;
    padding-top: 30px;
  }

  .nav_main ul {
    display: flex;
  }

  .nav_main li {
    display: inline-block;
    border: none;
    padding-top: 32px;
    max-width: 80px;
  }

  .nav_main a {
    font-size: 3.5vmin;
    text-decoration: none;
  }

  .nav_main li:hover {
    border: none;
  }

  div.banner_img img {
    padding-top: 170px;
  }

  i.fa-angle-left::before,
  i.fa-angle-right::before {
    font-size: 12px;
  }

  i.fa-angle-left::before {
    margin-top: 40px;
  }

  i.fa-angle-right::before {
    margin-top: 40px;
  }

  div.banner_slogan {
    position: absolute;
    margin-top: -30.8%;
    padding-left: 31.2px;
    color: white;
    letter-spacing: 0.1em;
  }

  div.banner_slogan p {
    font-size: 2.6vw;
  }

  div.banner_slogan p span {
    display: block;
  }

  a.bouton_bleu {
    display: none;
  }

  div.services,
  div.portfolio {
    width: 80%;
  }

  div.foot_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  div.imac,
  div.services_list {
    padding-right: 0;
    width: 100%;
  }

  div.imac img {
    margin: 0 auto;
    width: 100%;
  }

  div.services_list {
    padding: 6% 6% 0 0;
    width: 80%;
    line-height: 1em;
  }

  div.services_list ul {
    padding-left: 90px;
    line-height: 1em;
    list-style: none;
  }

  .nav_projets {
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 30px;
  }

  .nav-wrapper {
    position: relative;
    margin: 10% auto;
    width: 90%;
  }

  label {
    padding: 3.6px 14.3px;
    font-size: 0.8em;
  }

  label:hover::after,
  input[type="radio"]:checked + label::after {
    margin: 16px 0 0 -40%;
  }

  div.works {
    display: block;
    width: 80%;
  }

  figure {
    padding-bottom: 30px;
  }

  figcaption::before {
    font-size: 4.5vw;
  }

  .map-formulaire-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  div.google-wrapper {
  height: 750px;
  }

  iframe {
    display: block;
  }

  div.form-wrapper {
    display: block;
    position: relative;
    margin-top: 0;
  }
}

/* Version tablette */

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* h1 {
    font-size: 6vw;
  } */

  h2 {
    font-size: 1.2em;
  }

  p {
    padding: 10px 0;
    font-size: 1.5vw;
  }

  .nav_main li {
    width: 70px;
  }

  .nav_main a {
    font-size: 0.9em;
  }

  div.banner_slogan p {
    font-size: 1.5vw;
  }

  div.banner_slogan p span {
    display: block;
  }

  figcaption {
    visibility: hidden;
    margin-top: -50px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 50px;
    line-height: 0.8em;
    text-align: left;
  }

  figcaption h3 {
    padding: 15px 0 0 4px;
    color: white;
    font-size: 0.6em;
    line-height: 0.1;
    text-transform: capitalize;
  }

  figcaption p {
    display: inline-block;
    padding: 0 0 0 4px;
    color: white;
    font-size: 0.5em;
  }

  figcaption::before {
    vertical-align: bottom;
    float: right;
    margin-top: -15px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #5cadd3;
    padding: 10px;
    width: 10px;
    height: 10px;
    color: white;
    font-size: 0.8em;
    line-height: 9px;
    text-align: center;
    content: "\f06e";
  }

  figure:hover figcaption {
    visibility: visible;
  }

  div.form-wrapper {
    margin-top: -539px;
    margin-right: 25%;
    background: rgb(255, 255, 255);
    width: 50%;
  }
}

/* Version TV 4K */

@media screen and (min-width: 2560px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 1.5vw;
  }

  p {
    padding: 10px 0;
    font-size: 1.2vw;
    line-height: 1.5em;
  }

  .nav_main li {
    width: 150px;
  }

  i.fa-angle-left::before,
  i.fa-angle-right::before {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 2.3vw;
  }

  i.fa-angle-left::before {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    padding: 25px 35px 25px 5px;
  }

  i.fa-angle-right::before {
    right: 0;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    padding: 25px 5px 25px 35px;
  }

  div.banner_slogan p {
    font-size: 1.5vw;
  }

  div.services,
  div.portfolio {
    width: 80%;
  }

  .nav_projets {
    position: relative;
    margin: 0 auto;
    padding-top: 7%;
    width: 60%;
  }

  .nav-wrapper {
    position: relative;
    margin: 10% auto;
    border-radius: 15px;
    width: 40.6%;
  }

  label {
    padding: 3.6px 13px;
    font-size: 2em;
  }

  label:hover::after,
  input[type="radio"]:checked + label::after {
    margin: 39.5px 0 0 -44%;
    font-size: 1em;
  }

  input.border-left + label {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  input.border-right + label {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  figcaption {
    visibility: hidden;
    margin-top: -159px;
    height: 160px;
  }

  figcaption h1 {
    font-size: 2em;
  }

  figcaption::before {
    margin-top: -30px;
    margin-right: 40px;
    padding: 20px;
    width: 25px;
    height: 25px;
  }

  div.google-wrapper {
    height: 575px;
  }

  div.form-wrapper {
    position: absolute;
    z-index: 99;
    margin-top: -539px;
    margin-right: 5%;
    background: rgba(255, 255, 255, 0.6);
    width: 20%;
    height: 686px;
  }

  form h3 {
    font-size: 2.5em;
  }

  form p {
    font-size: 1.2em;
  }
}
