/* Définition des polices personnalisées */

@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular-webfont.woff2") format("woff2"),
    url("Roboto-Regular-webfont.woff") format("woff"),
    url("Roboto-Regular-webfont.ttf") format("truetype"),
    url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Bold-webfont.woff2") format("woff2"),
    url("Roboto-Bold-webfont.woff") format("woff"),
    url("Roboto-Bold-webfont.ttf") format("truetype"),
    url("Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoblack";
  src: url("Roboto-Black-webfont.eot");
  src: url("Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Black-webfont.woff2") format("woff2"),
    url("Roboto-Black-webfont.woff") format("woff"),
    url("Roboto-Black-webfont.ttf") format("truetype"),
    url("Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotolight";
  src: url("Roboto-Light-webfont.eot");
  src: url("Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Light-webfont.woff2") format("woff2"),
    url("Roboto-Light-webfont.woff") format("woff"),
    url("Roboto-Light-webfont.ttf") format("truetype"),
    url("Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotomedium";
  src: url("Roboto-Medium-webfont.eot");
  src: url("Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Medium-webfont.woff2") format("woff2"),
    url("Roboto-Medium-webfont.woff") format("woff"),
    url("Roboto-Medium-webfont.ttf") format("truetype"),
    url("Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontawesome-webfont";
  src: url("fontawesome-webfont.eot");
  src: url("fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("fontawesome-webfont.woff") format("woff"),
    url("fontawesome-webfont.ttf") format("truetype"),
    url("fontawesome-webfont.svg#fontawesome-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Eléments principaux de la page */

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", serif;
}

div.main-wrapper {
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  height: 8%;
  background: #fff;
  z-index: 100;
}

div.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.logo {
  padding-left: 155px;
}

/* Navigation */

nav {
  color: #787878;
  height: 100px;
  padding-right: 9.8%;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  width: 80.4px;
  text-align: center;
  border-top: 3px solid transparent;
  padding-top: 50px;
}

nav a {
  text-decoration: none;
  font-size: 0.9em;
  color: #7d7d7d;
}

nav li:hover {
  border-top: 3px solid rgb(92, 173, 211);
  color: #020202;
}

/* Bannière */

/* Ajouter les flèches de navigation sur la bannière */

div.banner {
  padding-top: 85px;
}

div.banner img {
  vertical-align: top;
  width: 100%;
}

div.banner_slogan {
  padding-left: 159px;
  margin-top: -23.5%;
  color: white;
  font-size: 1.2em;
}

h1 {
  text-transform: uppercase;
  line-height: 1em;
}

h2 {
  font-size: 0.9em;
  font-weight: normal;
}

div.banner_slogan span {
  color: rgb(92, 173, 211);
}

div.banner_slogan p {
  margin-top: 13px;
  font-size: 77%;
}

div.banner p.bouton_bleu {
  margin-top: 25px;
  font-size: 1em;
}

p.bouton_bleu {
  position: absolute;
  background-color: rgb(92, 173, 211);
  border-radius: 3px;
  padding: 12px 15px 12px 15px;
}

p.bouton_bleu a {
  text-decoration: none;
  font-size: 1em;
  color: white;
}

p.bouton_bleu:hover {
  box-shadow: 0 4px 1px -1px rgb(68, 148, 187);
}

/* Services */

div.services-wrapper {
  margin-top: 25%;
}

div#Services {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  height: 138px;
}

div#Services h1 {
  margin-bottom: 20px;
}

div#Services h2 {
  margin-top: 20px;
}

hr {
  width: 120px;
  margin: 0 auto;
}

hr::before {
  content: "";
  border: 3px solid white;
  border-radius: 100%;
  position: absolute;
  height: 14px;
  width: 14px;
  background: rgb(68, 148, 187);
  margin: -10px;
}

div.foot_block {
  width: 100%;
  height: 450px;
  display: flex;
  margin-top: 50px;
}

div.imac,
div.services_list {
  width: 50%;
  margin: 0 auto;
}

div.imac img {
  display: block;
  margin: auto;
}

div.services_list {
  line-height: 1.6em;
}

div.services_list ul {
  padding-left: 120px;
  list-style: none;
}

li {
  padding-bottom: 40px;
}

li.chart:before {
  content: "\f201";
}

li.cubes:before {
  content: "\f1b3";
}

li.pie:before {
  content: "\f200";
}

li:before {
  font-family: "FontAwesome";
  font-size: 32px;
  float: left;
  margin-left: -2.5em;
  color: rgb(68, 148, 187);
  border: 1px solid gray;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  text-align: center;
  line-height: 2em;
}

i {
  font-size: 14px;
  float: left;
  margin-left: -1.6em;
  margin-top: 1.9em;
  color: rgb(68, 148, 187);
}

/* Projets */

/* Contact */
