/* Définition des polices personnalisées */

@font-face {
  src: url("../font/Roboto-Regular-webfont.eot");
  src: url("../font/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../font/Roboto-Regular-webfont.woff") format("woff"),
    url("../font/Roboto-Regular-webfont.ttf") format("truetype"),
    url("../font/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("../font/Roboto-Black-webfont.eot");
  src: url("../font/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"),
    url("../font/Roboto-Black-webfont.woff") format("woff"),
    url("../font/Roboto-Black-webfont.ttf") format("truetype"),
    url("../font/Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-family: "roboto-black";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("..//font/fontawesome-webfont.eot");
  src: url("..//font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("..//font/fontawesome-webfont.woff") format("woff"),
    url("..//font/fontawesome-webfont.ttf") format("truetype"),
    url("..//font/fontawesome-webfont.svg#fontawesome-webfont") format("svg");
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
}

/* Définition des propriétés personnalisées */

:root {
  --color-fill: #5cadd3;
  --color-inactive: #e5e5e5;
  --color-shadow: #4494bb;
  --gray-text: #65696e;
  --check: 3px solid red;
}

/* Eléments principaux de la page */

* {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 3em;
  font-family: "roboto-black", serif;
}
h2 {
  font-size: 1.2em;
  font-family: "roboto", serif;
}

a, label {
    font-family: "roboto", serif;
}

p {
  padding: 10px 0;
  color: var(--gray-text);
  font-size: 0.9vw;
  font-family: "roboto", serif;
}

strong {
  display: block;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: "roboto-black", serif;
}

::before,
::after {
  font-family: "fontawesome";
}

.bouton_bleu {
  border: none;
  font-size: 1em;
}

button.bouton_bleu a,
input.bouton_bleu {
  box-shadow: 0 4px 1px -1px var(--color-shadow);
  border-radius: 3px;
  background-color: var(--color-fill);
  padding: 11px 23px;
  color: white;
  text-decoration: none;
}

div.main-wrapper {
  margin: 0 auto;
  width: 100%;
}

header {
  position: fixed;
  opacity: 0.9;
  z-index: 100;
  background: white;
  width: 100%;
  height: 100px;
}

div.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.logo {
  padding-left: 10%;
}

div.logo img {
  width: 90%;
}

/* Navigation */

.nav_main {
  padding-right: 9%;
  color: var(--gray-text);
}

.nav_main ul {
  display: flex;
  list-style-type: none;
}

.nav_main li {
  border-top: 2px solid transparent;
  padding-top: 42px;
  width: 100px;
  text-align: center;
}

.nav_main li:hover {
  border-top: 2px solid var(--color-fill);
}

.nav_main a {
  color: var(--gray-text);
  font-size: 1.5vmin;
  text-decoration: none;
}

.nav_main a:hover {
  color: black;
}

/* Bannière */

div.banner {
  margin: 0 auto;
  width: auto;
  height: auto;
}

div.banner_img img {
  padding-top: 100px;
  width: 100%;
}

div.banner_img {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* boutons gauche / droite slideshow */

i.fa-angle-left::before,
i.fa-angle-right::before {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 25px;
}

i.fa-angle-left::before {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 25px 20px 25px 5px;
}

i.fa-angle-right::before {
  right: 0;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  padding: 25px 5px 25px 20px;
}

div.banner_slogan {
  position: absolute;
  margin-top: -23.5%;
  padding-left: 130px;
  color: white;
  font-size: 1.2vw;
  letter-spacing: 0.1em;
}

div.banner_slogan span {
  color: var(--color-fill);
}

div.banner_slogan p {
  color: white;
  font-size: 1.2vw;
  letter-spacing: 0;
}

button.bouton_bleu {
  margin-top: 25px;
}

button.bouton_bleu a:hover {
  background-color: var(--color-shadow);
}

button.bouton_bleu a:active {
  box-shadow: none;
}

div.banner_img span {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 5px solid var(--color-fill);
  width: 10%;
}

/* Services */

div.services {
  margin: 0 auto;
  padding-top: 10%;
  width: 50%;
  text-align: center;
}

div.services h1 {
  margin-bottom: 20px;
}

div.services p {
  margin-top: 10px;
}

hr {
  margin: 0 auto;
  width: 120px;
}

hr::before {
  position: absolute;
  margin: -10px;
  border: 3px solid white;
  border-radius: 100%;
  background: var(--color-fill);
  width: 14px;
  height: 14px;
  content: "";
}

div.foot_block {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

div.imac,
div.services_list {
  padding-right: 5%;
  width: 50%;
}

div.imac img {
  margin-left: 35%;
  width: 70%;
}

div.services_list {
  line-height: 1em;
  padding-top: 6%;
}

div.services_list ul {
  padding-left: 120px;
  list-style: none;
}

li {
  padding-bottom: 40px;
}

li.chart:before {
  content: "\f201";
}

li.cubes:before {
  content: "\f1b3";
}

li.pie:before {
  content: "\f200";
}

li:before {
  float: left;
  margin-left: -2.5em;
  border: 1px solid gray;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  color: var(--color-fill);
  font-size: 32px;
  line-height: 2em;
  text-align: center;
}

i {
  float: left;
  margin-top: 1.9em;
  margin-left: -1.6em;
  color: var(--color-fill);
  font-size: 14px;
}

/* Projets */

section.portfolio-wrapper {
  background-color: #f5f5f5;
  padding: 10% 0;
}

div.portfolio {
  margin: 0 auto;

  width: 50%;
  height: 140px;
  text-align: center;
}

div.portfolio h1 {
  margin-bottom: 20px;
}

div.portfolio p {
  margin-top: 10px;
}

.nav_projets {
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  width: 400px;
  color: #787878;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 0px 0px rgb(229, 229, 229);
  border-radius: 5px;
  background-color: rgb(229, 229, 229);
}

.btn-filter + label {
  display: block;
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
}

input.border-left + label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input.border-right + label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

label {
  padding: 12px 20.8px;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
}

label:hover,
input[type="radio"]:checked + label {
  box-shadow: 0px 3px 0px 0px var(--color-shadow);
  background-color: var(--color-fill);
  color: white;
}

label:hover::after,
input[type="radio"]:checked + label::after {
  position: absolute;
  margin: 23px 0 0 -40%;
  color: var(--color-shadow);
  font-size: 22px;
  content: "\f0d7";
}

div.works {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
}

div.works ul {
  display: flex;
  flex: 1 0 21%;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

div.works li {
  margin: 0 20px;
}

div.works img {
  display: block;
  max-width: 300px;
}

@media screen and (min-width: 1133px) and (max-width: 1513px) {
  div.works li {
    margin: 0 80px;
  }
}

figcaption h1 {
  padding: 15px 0 0 15px;
  color: white;
  font-size: 1em;
  line-height: 0.9;
  text-transform: capitalize;
}

figcaption p {
  padding-left: 15px;
  color: white;
}

figcaption {
  position: absolute;
  visibility: hidden;
  margin-top: -60px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 300px;
  height: 60px;
  line-height: 0.4em;
  text-align: left;
}

figcaption::before {
  display: inline-block;
  vertical-align: bottom;
  float: right;
  margin-top: -25px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: var(--color-fill);
  padding: 10px;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  content: "\f06e";
}

li:hover figcaption {
  visibility: visible;
}

/* Contact */

div.google-wrapper {
  position: relative;
  width: 100%;
  height: 630px;
}

div.google-map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 99;
  background: rgb(92, 173, 211);
  width: 100%;
  height: 750px;
  pointer-events: none;
}

div.form-wrapper {
  position: absolute;
  right: 0;
  z-index: 100;
  margin-top: -580px;
  margin-right: 150px;
  background: rgba(255, 255, 255, 0.6);
  width: 360px;
  height: 525px;
}

form h1,
form p {
  padding: 15px 0 0 15px;
  line-height: 1.5em;
  text-transform: capitalize;
}

.web-sas {
  font-family: "roboto-black", serif;
}

form h1 {
  font-size: 1.4em;
}

form p {
  font-size: 0.8em;
}

::placeholder {
  font-weight: 500;
  color: rgb(160, 160, 160);
}

input[type="text"],
input[type="email"],
textarea {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding-left: 12px;
  width: 93%;
  height: 2.3em;
  font-size: 1.1em;
}

textarea {
  padding-top: 10px;
  height: 10em;
}

input.bouton_bleu {
  position: absolute;
  margin: 15px;
}

/* Version Responsive */

/* Version mobile */

@media screen and (max-width: 425px) {

  div.main-wrapper {
    margin: 0 auto;
    width: auto;
  }

  header {
    height: 170px;
  }

  div.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  div.logo img {
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
  }

  .nav_main li:hover {
    display: none;
  }

  div.banner_img img {
    padding-top: 170px;
  }



}
