/* Définition des polices personnalisées */

@font-face {
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular-webfont.woff2") format("woff2"),
    url("Roboto-Regular-webfont.woff") format("woff"),
    url("Roboto-Regular-webfont.ttf") format("truetype"),
    url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-family: "robotoregular";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Bold-webfont.woff2") format("woff2"),
    url("Roboto-Bold-webfont.woff") format("woff"),
    url("Roboto-Bold-webfont.ttf") format("truetype"),
    url("Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-family: "robotobold";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("Roboto-Black-webfont.eot");
  src: url("Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Black-webfont.woff2") format("woff2"),
    url("Roboto-Black-webfont.woff") format("woff"),
    url("Roboto-Black-webfont.ttf") format("truetype"),
    url("Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-family: "robotoblack";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("Roboto-Light-webfont.eot");
  src: url("Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Light-webfont.woff2") format("woff2"),
    url("Roboto-Light-webfont.woff") format("woff"),
    url("Roboto-Light-webfont.ttf") format("truetype"),
    url("Roboto-Light-webfont.svg#robotolight") format("svg");
  font-family: "robotolight";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("Roboto-Medium-webfont.eot");
  src: url("Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Medium-webfont.woff2") format("woff2"),
    url("Roboto-Medium-webfont.woff") format("woff"),
    url("Roboto-Medium-webfont.ttf") format("truetype"),
    url("Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-family: "robotomedium";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("fontawesome-webfont.eot");
  src: url("fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("fontawesome-webfont.woff") format("woff"),
    url("fontawesome-webfont.ttf") format("truetype"),
    url("fontawesome-webfont.svg#fontawesome-webfont") format("svg");
  font-family: "fontawesome-webfont";
  font-style: normal;
  font-weight: normal;
}

/* Eléments principaux de la page */

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", serif;
}

div.main-wrapper {
  margin: 0 auto;
  width: 100%;
}

header {
  position: fixed;
  z-index: 100;
  background: #fff;
  width: 100%;
  height: 8%;
}

div.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.logo {
  padding-left: 155px;
}

/* Navigation */

.nav_main {
  padding-right: 9.8%;
  height: 100px;
  color: #787878;
}

.nav_main ul {
  display: flex;
  list-style-type: none;
}

.nav_main li {
  border-top: 3px solid transparent;
  padding-top: 50px;
  width: 80.4px;
  text-align: center;
}

.nav_main a {
  color: #7d7d7d;
  font-size: 0.9em;
  text-decoration: none;
}

.nav_main li:hover {
  border-top: 3px solid rgb(92, 173, 211);
  color: #020202;
}

/* Bannière */

/* Ajouter les flèches de navigation sur la bannière */

div.banner {
  padding-top: 85px;
}

div.banner img {
  vertical-align: top;
  width: 100%;
}

div.banner_slogan {
  margin-top: -23.5%;
  padding-left: 159px;
  color: white;
  font-size: 1.2em;
}

h1 {
  line-height: 1em;
  text-transform: uppercase;
}

h2 {
  font-size: 0.9em;
  font-weight: normal;
}

div.banner_slogan span {
  color: rgb(92, 173, 211);
}

div.banner_slogan p {
  margin-top: 13px;
  font-size: 77%;
}

div.banner p.bouton_bleu {
  margin-top: 25px;
  font-size: 1em;
}

p.bouton_bleu {
  position: absolute;
  border-radius: 3px;
  background-color: rgb(92, 173, 211);
  padding: 12px 15px 12px 15px;
}

p.bouton_bleu a {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

p.bouton_bleu:hover {
  box-shadow: 0 4px 1px -1px rgb(68, 148, 187);
}

/* Services */

div.services-wrapper {
  margin-top: 25%;
}

div#Services {
  margin: 0 auto;
  width: 50%;
  height: 138px;
  text-align: center;
}

div#Services h1 {
  margin-bottom: 20px;
}

div#Services h2 {
  margin-top: 20px;
}

hr {
  margin: 0 auto;
  width: 120px;
}

hr::before {
  position: absolute;
  margin: -10px;
  border: 3px solid white;
  border-radius: 100%;
  background: rgb(68, 148, 187);
  width: 14px;
  height: 14px;
  content: "";
}

div.foot_block {
  display: flex;
  margin-top: 50px;
  width: 100%;
  height: 450px;
}

div.imac,
div.services_list {
  margin: 0 auto;
  width: 50%;
}

div.imac img {
  display: block;
  margin: auto;
}

div.services_list {
  line-height: 1.6em;
}

div.services_list ul {
  padding-left: 120px;
  list-style: none;
}

li {
  padding-bottom: 40px;
}

li.chart:before {
  content: "\f201";
}

li.cubes:before {
  content: "\f1b3";
}

li.pie:before {
  content: "\f200";
}

li:before {
  float: left;
  margin-left: -2.5em;
  border: 1px solid gray;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  color: rgb(68, 148, 187);
  font-family: "FontAwesome";
  font-size: 32px;
  line-height: 2em;
  text-align: center;
}

i {
  float: left;
  margin-top: 1.9em;
  margin-left: -1.6em;
  color: rgb(68, 148, 187);
  font-size: 14px;
}

/* Projets */

div.portfolio-wrapper {
  background-color: #f5f5f5;
  padding-top: 5%;
}

div#Portfolio {
  margin: 0 auto;
  width: 50%;
  height: 138px;
  text-align: center;
}

div#Portfolio h1 {
  margin-bottom: 20px;
}

div#Portfolio h2 {
  margin-top: 20px;
}

.nav_projets {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  color: #787878;
}

.nav_projets ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav_projets a {
  display: inline-block;
  background-color: rgb(229, 229, 229);
  box-shadow: 0px 3px 0px 0px rgb(229, 229, 229);
  padding: 1%;
  width: 80.4px;
  height: 20px;
  text-align: center;
}

.nav-border-left {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.nav-border-right {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.nav_projets a {
  color: #7d7d7d;
  font-size: 0.9em;
  text-decoration: none;
}

.nav_projets a:hover {
  box-shadow: 0px 3px 0px 0px rgb(70, 140, 173);
  background-color: rgb(92, 173, 211);
  color: white;
}

.nav_projets a:hover:after {
  position: absolute;
  margin-top: -26px;
  content: "\f0d7";
  color: rgb(70, 140, 173);
  font-family: "FontAwesome";
  font-size: 22px;
}

div.works {
  width: 70%;
  margin: 0 auto;
}

div.works ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}

div.works img {
  max-width: 262px;
}

/* Contact */
