/* Définition des polices personnalisées */

@font-face {
  font-family: "robotoregular";
  font-style: normal;
  font-weight: normal;
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular-webfont.woff2") format("woff2"),
    url("Roboto-Regular-webfont.woff") format("woff"),
    url("Roboto-Regular-webfont.ttf") format("truetype"),
    url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
}

@font-face {
  font-family: "fontawesome-webfont";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot");
  src: url("fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("fontawesome-webfont.woff") format("woff"),
    url("fontawesome-webfont.ttf") format("truetype"),
    url("fontawesome-webfont.svg#fontawesome-webfont") format("svg");
}

/* Définition des propriétés personnalisées */

:root {
  --color-fill: #5cadd3;
  --color-inactive: #e5e5e5;
  --color-shadow: #4494bb;
  --gray-text: #65696e;
  --check: 3px solid red;
}

/* Eléments principaux de la page */

* {
  font-family: "roboto", serif;
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 10px;
  text-transform: uppercase;
}
h2 {
  font-size: 1.2em;
}

p {
  padding: 10px 0;
  font-size: 0.9vw;
  color: var(--gray-text);
}

::before,
::after {
  font-family: "FontAwesome";
}

.bouton_bleu {
  font-size: 1em;
  border: none;
}

button.bouton_bleu a,
input.bouton_bleu {
  border-radius: 3px;
  padding: 11px 23px;
  color: white;
  box-shadow: 0 4px 1px -1px var(--color-shadow);
  background-color: var(--color-fill);
  text-decoration: none;
}

div.main-wrapper {
  margin: 0 auto;
  width: 100%;
}

header {
  background: white;
  height: 100px;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 100;
}

div.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

div.logo {
  padding-left: 10%;
}

div.logo img {
  width: 100%;
}

/* Navigation */

.nav_main {
  color: var(--gray-text);
  padding-right: 10%;
}

.nav_main ul {
  display: flex;
  list-style-type: none;
}

.nav_main li {
  border-top: 2px solid transparent;
  padding-top: 42px;
  text-align: center;
  width: 80.4px;
}

.nav_main li:hover {
  border-top: 2px solid var(--color-fill);
}

.nav_main a {
  color: var(--gray-text);
  font-size: 1.5vmin;
  text-decoration: none;
}

.nav_main a:hover {
  color: black;
}

/* Bannière */

div.banner {
  margin: 0 auto;
  width: auto;
  height: auto;
}

div.banner_img img {
  padding-top: 100px;
  width: 100%;
}

div.banner_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* boutons gauche / droite slideshow */

i.fa-angle-left::before,
i.fa-angle-right::before {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: block;
  font-size: 25px;
  position: absolute;
}

i.fa-angle-left::before {
  padding: 25px 20px 25px 5px;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
}

i.fa-angle-right::before {
  padding: 25px 5px 25px 20px;
  border-bottom-left-radius: 45px;
  border-top-left-radius: 45px;
  right: 0;
}

div.banner_slogan {
  color: white;
  font-size: 1.2vw;
  letter-spacing: 0.1em;
  margin-top: -23.5%;
  padding-left: 130px;
}

div.banner_slogan span {
  color: var(--color-fill);
}

div.banner_slogan p {
  font-size: 1.2vw;
  letter-spacing: 0;
  margin-top: 13px;
  color: white;
}

button.bouton_bleu {
  margin-top: 25px;
}

button.bouton_bleu a:hover {
  background-color: var(--color-shadow);
}

button.bouton_bleu a:active {
  box-shadow: none;
}

div.banner_img span {
  position: absolute;
  width: 10%;
  border-bottom: 5px solid var(--color-fill);
  bottom: 0;
  left: 0;
}

/* Services */

div.services {
  padding-top: 15%;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

div.services h1 {
  margin-bottom: 20px;
}

div.services p {
  margin-top: 10px;
}

hr {
  margin: 0 auto;
  width: 120px;
}

hr::before {
  background: var(--color-fill);
  border: 3px solid white;
  border-radius: 100%;
  content: "";
  height: 14px;
  margin: -10px;
  position: absolute;
  width: 14px;
}

div.foot_block {
  display: flex;
  height: 450px;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

div.imac,
div.services_list {
  margin: 0 auto;
  width: 50%;
}

div.imac img {
  display: block;
  padding: 0 0 200px 100px;
}

div.services_list {
  line-height: 1em;
  margin-right: 150px;
}

div.services_list ul {
  list-style: none;
  padding-left: 120px;
}

li {
  padding-bottom: 40px;
}

li.chart:before {
  content: "\f201";
}

li.cubes:before {
  content: "\f1b3";
}

li.pie:before {
  content: "\f200";
}

li:before {
  border: 1px solid gray;
  border-radius: 50%;
  color: var(--color-fill);
  float: left;
  font-size: 32px;
  height: 64px;
  line-height: 2em;
  margin-left: -2.5em;
  text-align: center;
  width: 64px;
}

i {
  color: var(--color-fill);
  float: left;
  font-size: 14px;
  margin-left: -1.6em;
  margin-top: 1.9em;
}

/* Projets */

div.portfolio-wrapper {
  background-color: #f5f5f5;
}

div.portfolio {
  padding-top: 10%;
  height: 140px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

div.portfolio h1 {
  margin-bottom: 20px;
}

div.portfolio p {
  margin-top: 10px;
}

.nav_projets {
  position: relative;
  width: 328px;
  margin: 0 auto;
  padding-top: 20px;
  color: #787878;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  box-shadow: 0px 3px 0px 0px rgb(229, 229, 229);
}

.btn-filter + label {
  display: block;
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
}

input.border-left + label {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

input.border-right + label {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

label {
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  padding: 12px;
}

label:hover,
input[type="radio"]:checked + label {
  color: white;
  background-color: var(--color-fill);
  box-shadow: 0px 3px 0px 0px var(--color-shadow);
}

input[type="radio"]:checked + label::after {
  color: var(--color-shadow);
  content: "\f0d7";
  font-size: 22px;
  margin: 23px 0 0 -40%;
  position: absolute;
}

div.works {
  position: relative;
  margin: 0 auto;
  width: 90%;
  margin-top: 40px;
}

div.works ul {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 21%;
  justify-content: space-between;
  list-style-type: none;
}

div.works img {
  max-width: 262px;
  display: block;
}

figcaption h1 {
  text-transform: capitalize;
  line-height: 0.9;
  font-size: 1em;
  padding: 15px 0 0 15px;
  color: white;
}

figcaption p {
  padding-left: 15px;
  color: white;
}

figcaption {
  position: absolute;
  width: 100%;
  height: 60px;
  max-width: 262px;
  margin-top: -60px;
  text-align: left;
  line-height: 0.4em;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

figcaption::before {
  content: "\f06e";
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  background-color: var(--color-fill);
  float: right;
  font-size: 18px;
  padding: 10px;
  margin-top: -25px;
  margin-right: 10px;
  line-height: 25px;
  text-align: center;
  vertical-align: bottom;
}

li:hover figcaption {
  visibility: visible;
}

/* Contact */

div.google-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

div.google-map-overlay {
  background: rgb(92, 173, 211);
  height: 750px;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

div.form-wrapper {
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  position: absolute;
  width: 25%;
  height: 50%;
  right: 0;
  z-index: 100;
}

form h1,
form p {
  text-transform: capitalize;
  line-height: 1.5em;
  padding: 15px 0 0 15px;
}

form h1 {
  font-size: 1.4em;
}

form p {
  font-size: 0.8em;
}

input[type="text"],
input[type="email"],
textarea {
  width: 95%;
  height: 2.3em;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding-left: 12px;
  font-size: 1.1em;
}

textarea {
  height: 10em;
  padding-top: 10px;
}

input.bouton_bleu {
  position: absolute;
  margin: 15px 15px;
}
